[submodule "submodules"]
	path = submodules
	url = https://github.com/facebookresearch/seamless_communication.git
[submodule "seamless_communication"]
	path = seamless_communication
	url = https://github.com/facebookresearch/seamless_communication.git
